@use "../abstracts/variables" as var;

@mixin boton(){
  display: block;
  background-color: var.$blue;
  padding: 10px 40px;
  color: white;
  border-radius: 40px;
  text-decoration: none;

  &:hover {
    background-color: rgb(79, 106, 143);
  }
}


