@use "../abstracts/abstracts" as ab;


.containt_2 {
    background-color: white;
    padding: 0px 50px;
    
    & .article{
        display: inline-flex;
        gap: 50px;
        margin-top: -100px;
        background-color: white;
        padding: 40px;
        border-radius: 12px;
        box-shadow: -0px 0px 5px 10px  5px grey;
        margin-bottom: 20px;

        &_items {
            width: 100px;
            display: grid;
            justify-items: center;
            gap: 10px;

            &-title {
                font-size: 25px;
                font-weight: 500;
            }

            &-description {
                color: ab.$grey;
                font-size: 12px;
                text-align: center;
            }
            &-img {
                background-color: ab.$cyan;
                border-radius: 50%;
                width: 40px;
                padding: 8px;
            }
        }


    }

    & .article_info {
        position: absolute;
        display: grid;
        gap: 5px;
        right: 130px;
        top:-30px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
        width: 240px;
        height: 130px;
        font-size: 12px;
        padding: 20px;
        border-radius: 10px;
        z-index: 5;

        &_img {
            width: 20px;
        }
        &_name {
            color: ab.$blue;
            font-weight: bold;
        }

    }
    
}