@use "../abstracts/abstracts" as ab;



.hero {
    max-width: 500px;
    &_title {
        font-size: 40px;
        line-height: 1.2;
        color: ab.$blue;
        font-weight: 900;
        margin-bottom: 15px;
    }

    &_description {
        color: ab.$grey;
        margin-bottom: 30px;

    }

    &_button {
        display: flex;
        align-items: center;
        gap: 20px;

        & .btn{
            @include ab.boton();
            font-size: 14px;
            box-shadow: 1px 2px 6px ab.$blue;
        }
        & .link {
            font-size: 14px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: ab.$blue;
    
            & span {
                border-radius: 50%;
                display: flex;
                text-align: center;
                background-color: white;
                padding: 10px;
                box-shadow: 1px 2px 6px grey;
    
                & img {
                    width:20px;
                }
            }
        }
    }

    &_info {
        position: absolute;
        display: grid;
        gap: 5px;
        right: 20px;
        bottom: -80px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
        width: 240px;
        height: 130px;
        font-size: 12px;
        padding: 20px;
        border-radius: 10px;

        &_img {
            width: 20px;
        }
        &_name {
            color: ab.$blue;
            font-weight: bold;
        }
    }
}